.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  /* background-image: url("./images/mosaic-background-blue.jpg"); */
  background-color: #455560;
}

.Header {
  display: flex;
  justify-content: center;
  background-color: #f39a2f;
  height: 125px;
  width: 100%;
}

.Nav {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  background-color: #f39a2f;
  align-items: center;
}

.Button {
  cursor: pointer;
  margin: 25px;
  background-color: transparent;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  /* font-weight: 100; */
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* height: 700px; */
  width: 100%;
  border-top: solid 1px white;
  background-color: #455560;
  /* opacity: 0.75; */
  padding-top: 10px;
  padding-bottom: 10px;
}

.Footer {
  display: flex;
  width: 100%;
  border-top: solid 1px white;
  background-color: #f39a2f;
  justify-content: center;
  position: fixed;
  bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: white;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url(./fonts/Oswald-Regular.ttf) format("ttf");
}
