.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.Header {
  display: flex;
  justify-content: center;
  background-color: #f39a2f;
  height: 125px;
  width: 100%;
}

.Nav {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  background-color: #f39a2f;
  align-items: center;
}

.Button {
  cursor: pointer;
  margin: 25px;
  background-color: transparent;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  /* font-weight: 100; */
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 100%;
  border-top: solid 2px white;
  background-color: #455560;
}

.Footer {
  display: flex;
  width: 100%;
  border-top: solid 2px white;
  background-color: #f39a2f;
  justify-content: center;
  /* position: absolute; */
  bottom: 0;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url(./fonts/Oswald-Regular.ttf) format("ttf");
}
