.Main {
  display: flex;
  justify-content: center;
}

.Logo {
  /* max-width: 80%;
  max-height: 80%; */
  width: 55%;
  height: 80%;
  justify-content: center;
  margin-left: 15px;
  margin-top: 8px;
}
