.Images-Grid {
  /* width: 900px;
  height: 350px; */
  padding: 10px;
  box-shadow: 7px 10px 12px -5px rgb(0, 0, 0, 0.56);
  text-align: center;
  background-color: white;
  /* border: 2px solid black; */
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.Image {
  /* width: 90%;
  height: 90%; */
  /* border: black solid 1px; */
  margin: 3px;
  /* border-radius: 3px; */
}

.Gallery-Body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Gallery-Header {
  font-size: 10px;
  justify-content: center;
}
